@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .skewed {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 80%);
  }
  .rtl {
    direction: rtl;
  }
}

@layer utilities {
  .test {
    animation: slide 2s 1 right;
  }
}
